<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<zone
  {% if item.1.zone_version is defined %}
  version="{{ item.1.zone_version }}"
  {% endif %}
  {% if item.1.zone_target is defined %}
  target="{{ item.1.zone_target }}"
  {% endif %}
>
  {% if item.1.name is defined %}
  <short>{{ item.1.name }}</short>
  {% endif %}

  {% if item.1.description is defined %}
  <description>{{ item.1.description }}</description>
  {% endif %}

  {% if item.1.interfaces is defined %}
  {% for interface in item.1.interfaces | dictsort %}
  {% if interface.1.state == "enabled" %}
  <interface name="{{ interface.1.name }}"/>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.sources is defined %}
  {% for subitem in item.1.sources | dictsort %}
  {% if subitem.1.state == "enabled" %}
  <source
    {% if subitem.1.address is defined %}
    address="{{ subitem.1.address }}"
    {% endif %}
    {% if subitem.1.mac is defined %}
    mac="{{ subitem.1.mac }}"
    {% endif %}
    {% if subitem.1.ipset is defined %}
    ipset="{{ subitem.1.ipset }}"
    {% endif %}
  />
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.services is defined %}
  {% for service in item.1.services | dictsort %}
  {% if service.1.state == "enabled" %}
  <service name="{{ service.1.name }}"/>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.ports is defined %}
  {% for port in item.1.ports | dictsort %}
  {% if port.1.state == "enabled" %}
  <port protocol="{{ port.1.protocol }}" port="{{ port.1.port }}"/>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.protocols is defined %}
  {% for subitem in item.1.protocols | dictsort %}
  {% if subitem.1.state == "enabled" %}
  <protocol value="{{ subitem.1.value }}"/>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.icmp_blocks is defined %}
  {% for subitem in item.1.icmp_blocks | dictsort %}
  {% if subitem.1.state == "enabled" %}
  <icmp-block name="{{ subitem.1.name }}"/>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.icmp_block_inversion is defined %}
  {% if item.1.icmp_block_inversion == "enabled" %}
  <icmp-block-inversion/>
  {% endif %}
  {% endif %}

  {% if item.1.masquerade is defined %}
  {% if item.1.masquerade == "enabled" %}
  <masquerade/>
  {% endif %}
  {% endif %}

  {% if item.1.forward_ports is defined %}
  {% for subitem in item.1.forward_ports | dictsort %}
  {% if subitem.1.state == "enabled" %}
  <forward_ports
    port="{{ subitem.1.port }}"
    protocol="{{ subitem.1.protocol }}"
    {% if subitem.1.to_port is defined %}
    to-port="{{ subitem.1.to_port }}"
    {% endif %}
    {% if subitem.1.to_addr is defined %}
    to-addr="{{ subitem.1.to_addr }}"
    {% endif %}
  />
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.source_ports is defined %}
  {% for subitem in item.1.source_ports | dictsort %}
  {% if subitem.1.state == "enabled" %}
  <source-port
    port="{{ subitem.1.port }}"
    protocol="{{ subitem.1.protocol }}"
  />
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if item.1.rules is defined %}
  {% for subitem in item.1.rules | dictsort %}
  {% if subitem.1.state == "enabled" %}
  {{ subitem.1.value }}
  {% endif %}
  {% endfor %}
  {% endif %}

</zone>